@font-face {
    font-family: "zabars";
    src: url("./fonts/Zabars.ttf") format("truetype");
  }

body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'zabars';
	background-image: url(./img/desert.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

canvas, .endScreen, .startScreen, .loosesEndScreen {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.562);
	border-radius: 20px;
}

.turn{
	background-image: url(./img/turn.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
}

.restart{
	z-index: 9999;
	position: absolute;
	top: 60px;
	left: -10px;
	color: red;
}

.center{
	display: flex;
    flex-direction: column;
    align-items: center;
}

/* fullscreen oder body background image? */
.fullscreen {
	position: relative;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./img/desert.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	border-radius: 20px;
}

.startScreen,
.endScreen,
.loosesEndScreen,
.callToTurnScreen,
.menuContainerOverlay,
.screensContainer,
.turn {
	position: absolute;
	width: 100%;
	aspect-ratio: auto 1 / 0.631;
}

.startScreen {
	background-image: url(./img/9_intro_outro_screens/start/startscreen_2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.endScreen {
	background-image: url(./img/9_intro_outro_screens/game_over/game\ over.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
}

.loosesEndScreen {
	background-image: url(./img/9_intro_outro_screens/game_over/you\ lost.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
}

.story {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
}

.controls {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.screensContainer {
	max-height: 480px;
	max-width: 760px;
}

.message {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 10rem;
}

h1 {
	display: block;
	color: black;
	position: absolute;
	top: -150px;
	left: 0;
	right: 0;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 5rem;
}

.navigationBar {
	z-index: 99;
	position: absolute;
	top: 10px;
	display: flex;
	gap: 10px;
	align-items: center;
	flex-direction: row;
}

.navigationButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
    margin-bottom: -10px;
    margin-top: 20px;
	background-color: rgb(199, 219, 231);
	border-radius: 0.5rem;
	transition: all 225ms ease-in-out;
	box-shadow: inset 0 0 0 0 rgb(255, 209, 0);
	cursor: pointer;
}

.navigationButtons:active {
	transform: scale(0.97);
}

.menuButtonsContainer {
	position: relative;
}

.start {
	position: absolute;
	top: 0;
}

.fullscreenIcon {
	position: absolute;
	top: 0;
}

.soundOnIcon {
	position: absolute;
	top: 0;
}

/*
* Buttons
*/

.playButtonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: auto;
}

.rightSide {
	border-radius: 0.5rem;
	bottom: 16px;
	position: absolute;
	right: 50px;
	padding-right: 8px;
	gap: 10px;
}

.btnBottle {
	height: 38px;
	width: auto;
	
}

.leftSide {
	gap: 10px;
	position: absolute;
	bottom: 16px;
	left: 50px;
	padding-left: 8px;
	border-radius: 0.5rem;
}
.d-none {
	display: none;
}
.showSideButtons {
	transform: translateX(0px);
}

.backgroundTransparent {
	background-color: transparent !important;
}

/* Handy */
@media only screen and (max-width: 760px) {
	canvas,
	.screensContainer,
	.startScreen,
	.endScreen,
	.loosesEndScreen,
	.callToTurnScreen,
	.menuContainerOverlay,
	.turn {
		width: 100vw !important;
		border-radius: unset;
		aspect-ratio: auto 1 / 0.631;
	}

	h1 {
		display: none;
	}

	.callToTurnScreen {
		display: flex;
	}

	.gameGuide {
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		border-radius: unset;
	}

	.openNavigationBar {
		height: 1.5rem;
		width: 5rem;
		font-size: 1.5rem;
	}

	.navigationButtons {
		transform: scale(0.7);
	}

	.rightSide,
	.leftSide {
		padding: unset;
	}
}

@media only screen and (max-width: 500px) {

	.navigationBar {
		transform: scale(0.8);
	}
	.turn{
		display: block;
		z-index: 99;
	}
}

@media only screen and (max-height: 480px) {
	canvas,
	.menuContainerOverlay,
	.startScreen,
	.endScreen,
	.loosesEndScreen,
	.screensContainer,
	.turn {
		height: 100vh !important;
	}
}
